<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul><a href="/celebrities/create">New Celebrity</a></ul>

<ul><a href="/celebrities">See Celebrities</a></ul>

<ul><a href="/movies">See Movies</a></ul>

<ul><a href="/movies/create">New Movie</a></ul>

<hr/>