<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div>
     <a href="/">Home </a> <span>| </span> 
     <a href="/celebrities">See Celebrities </a> <span>| </span>
     <a href="/celebrities/create">New Celebrity </a> <span>| </span>
     <a href="/movies">See Movies </a> <span>| </span>
     <a href="/movies/create">New Movie </a> <span>| </span>
     <a href="/signup">Sign Up </a> <span>| </span>
      {{#unless theUser}}
        <a href="/login">Login</a>
        {{/unless}}
        <br><br>
        {{#if theUser}}
        <form action="/logout" method="post">
        <button>Logout</button>
        </form>
        {{/if}}
        
    </div>
    <hr>
    <br>
    
    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>