<h2>Movies</h2>


{{#each movies}}
<div>

<br>
<h3><a href="/movies/{{id}}">{{title}}</a></h3>
<br>

<a class="edit" href="/movies/{{id}}/edit">Edit</a>

      <form action="/movies/{{id}}/delete" method="post">
        <button  class="delete" type="submit">Delete</button>
      </form>

</div>
{{/each}}
